<%- include('includes/header.html', { active: 'user', title: '用户' }) %>

<main class="mdl-layout__content table-screen">
<table class="mdl-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">用户名</th>
      <th class="mdl-data-table__cell--non-numeric">密码 ( 留空以删除用户 )</th>
      <th class="mdl-data-table__cell--non-numeric">更新</th>
    </tr>
  </thead>
  <tbody>
    <% for(const u of users) { %>
    <tr>
      <form method="POST" action="/user/<%= u %>">
        <td class="mdl-data-table__cell--non-numeric"><%= u %></td>
        <td class="mdl-data-table__cell--non-numeric">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="pass-<%= u %>" name="pass">
            <label class="mdl-textfield__label" for="sample3">新密码</label>
          </div>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect" type="submit">
            提交
          </button>
        </td>
      </form>
    </tr>
    <% } %>
    <tr>
      <form method="POST" action="/user/new">
        <td class="mdl-data-table__cell--non-numeric">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="user-new" name="user">
            <label class="mdl-textfield__label" for="sample3">新用户</label>
          </div>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="pass-new" name="pass">
            <label class="mdl-textfield__label" for="sample3">新密码</label>
          </div>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" type="submit">
            添加
          </button>
        </td>
      </form>
    </tr>
  </tbody>
</table>
</main>

<%- include('includes/footer.html') %>
